@import "tailwindcss";

.input-field {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 2px solid #D3B8A1;
    outline: none;
    background-color: transparent;
    color: #6D4C41;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-bottom: 2px solid #A67B5B;
  }
  
  .input-label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #A67B5B;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .input-field:focus + .input-label,
  .input-field:not(:placeholder-shown) + .input-label {
    top: 0;
    font-size: 12px;
    color: #6D4C41;
  }
  
